* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-left: 1rem;
  /* height: 60vh;
  width: 60vw; */
  flex-grow: 1;
  overflow-x: hiddenx;
}
.form form {
  margin-left: 10px;
  padding: 10px;
}
.form_name,
.form_password {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.main_container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 60vh; */
  width: 100vw;
  background-color: #f0f8ff;
  /* margin: 6rem 0rem 0rem 0rem; */
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}
#email,
#password {
  width: 15rem;
  height: 2rem;
  border-radius: 1rem;
  border-color: #f0f8ff;
  padding-left: 1rem;
}
#email::placeholder,
#password::placeholder {
  text-align: left;
}

#btn {
  border-radius: 7%;
  width: 39%;
  height: 67%;
  margin: 1rem 0 0 4rem;
}
#btn:hover {
  background-color: #1a0be0;
}

.login_img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.navbar_container {
  height: 11rem;
  width: 100vw;
  background-color: #729762;
  border: 3px solid #729762;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
  gap: 1rem;
}
.img {
  height: 80px;
  width: 80px;
  margin: 10px 10px;
  padding-right: 50px;
  padding-bottom: 30px;
}
.img1 {
  height: 50px;
  width: 60px;
  border-radius: 50%;
  margin: 10px 10px;
  align-items: center;
}

.search {
  height: 30px;
  width: 11rem;
  border-radius: 7px;
  margin-left: 9rem;
  border-color: #4caf50;
}

.search::placeholder {
  padding: 0 0 0 1rem;
}

.logo_name {
  color: #fff;
  margin-left: 23px;
  font-size: larger;
  font-weight: 900;
}
.anchor {
  text-decoration: none;
  color: #fff;
}
.anchor:hover {
  color: #0c08f1;
}
.btn {
  margin-right: 6rem;
  height: 2rem;
  width: 5rem;
  background-color: #fff;
  border-radius: 10px;
}
.btn:hover {
  background-color: #0c08f1;
}
@media (max-width: 600px) {
  .search {
    height: 30px;
    width: 50px;
    border-radius: 7px;
    margin-left: 10px;
  }
}

/* footer section */
.footer_section {
  height: 30vh;
  width: 100%;
  border: 3px solid #729762;
  background-color: #729762;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  overflow-x: hidden;
  padding: 1rem;
}
.footer_span,
.address,
.anchor_footer {
  color: #fff;
  margin-right: 70rem;
  text-decoration: none;
}
.anchor_footer:hover {
  color: #0c08f1;
}
.footer_section div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 7rem;
}
.navbar_container a,
.navbar_container .search,
.navbar_container .btn {
    display: inline-block; 
}

.hamburger {
    display: none; 
    cursor: pointer;
}


@media (max-width: 768px) { 
    .navbar_container a,
    .navbar_container .search,
    .navbar_container .btn {
        display: none; 
    }

    .hamburger {
        display: block; 
        color: #f0f8ff;
    }

    .navbar_container.active a,
    .navbar_container.active .search,
    .navbar_container.active .btn {
        display: block; 

    }
}
@media (max-width: 500px) {
  .navbar_container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: -10rem;
    height: 40vh;
    width: 100vw;
  }
  .search {
    width: 6rem;
  }
  .footer_section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .footer_section div {
    width: 1rem;
  }
}

#formDataContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #4caf50;
  background-color: #0c08f1;
}


.field-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.field-value {
  font-size: 16px;
  margin: 0;
}
